@model IEnumerable<DemoMVC.Models.Entities.LoaiThietBi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get" class="mb-3">
    <div class="form-actions no-color">
        <p>
            Tìm kiếm theo tên loại: 
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Tìm kiếm" class="btn btn-primary btn-sm" /> |
            <a asp-action="Index">Hiển thị tất cả</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaiThietBiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoaiThietBiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoaiThietBiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
